/* TO DO !!! 
a) choose color pallete
b) assign the colors where needed */

:root {
  --primary-color: #2C3E50;
  --secondary-color: #3498DB;
  --background-color: #F4F6F7;
  --text-color: #333333;
  --accent-color: #E74C3C;
}

/* Navbar styling */
.navbar {
  background-color: var(--primary-color);
  padding: 0 1rem;  /* Remove padding */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 3rem;
  display: flex;  /* Add flex display */
  justify-content: flex-start;  /* Center items horizontally */
  align-items: center;  /* Center items vertically */
}

.navbar-logo {
  margin-right: 2rem;  /* Add space after the logo */
}

.navbar ul {
  display: flex;
  /* justify-content: center;  Center items horizontally */
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;  /* Full height of navbar */
}

.navbar li {
  margin: 0;  /* Remove right margin */
  height: 100%;  /* Full height of navbar */
  display: flex;  /* Add flex display */
  align-items: center;  /* Center items vertically */
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 1rem;  /* Add horizontal padding */
  height: 100%;  /* Full height of navbar */
  display: flex;  /* Add flex display */
  align-items: center;  /* Center text vertically */
  transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;  /* Ensure the text stays white on hover */
  text-decoration: none;
}

.navbar-logo {
  height: 40px; /* Adjust this value as needed */
  width: auto;
  object-fit: contain;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;  /* Align to the start for mobile */
  }

  .navbar ul {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
  }

  .navbar.active ul {
    display: flex;
  }

  .navbar li {
    width: 100%;
  }

  .navbar a {
    width: 100%;
    padding: 1rem;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin-left: auto;
    margin-right: 2rem;
    /* color: var(--background-color);
    position: absolute;
    top: 0.5rem;
    right: 1rem; */
  }
}

/* For desktop screens */
@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }
}